
body {
  background-color: #FAF0E6;
}

/* --------------logo-------------------- */
.distill-site-header .logo img{
    width:100%;
    height:100%;
    margin:auto auto; /* max-height: 50px; Makes logo bigger, default was 20px */
}


/* --------------Navbar-------------------- */

.distill-site-header {
  padding: 0px 0px 0px 0px;
  background-color: teal;
  title-size: 80px;    
  text-size: 40px;
}


/* -------------Footer------------------*/

.distill-site-footer {
  color: #f7f7f7b0;
  background-color: teal;
  margin-top: 0px;
  padding: 20px 20px;
  font-size: 12px;
  letter-spacing: 1.5px;
/*  text-transform: uppercase; */
  line-height: 12px;
}

/* Change bullets */
ul > li::marker {
  font-size: 1.125em;
  color: #ff414b;
}

/* Change link appearance */
d-article a {
  color: red;
  border-bottom: 2px solid red;
  text-decoration: none;
}



.content {margin-left: 0;
}